################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sws/.vs/sws
/sws/bin/Debug/net8.0
/sws/obj
/sws/.vs/ProjectEvaluation
/sws/databaseUpdate.PS1
